.App {
  display: flex;
  align-items: center;
  margin: 5%;
}

.searchAddNavigation {
  border: 1px solid red;
}

.addObject {
  border: 1px solid #4cff00;
}

.searchObject {
  border: 1px solid #aa00ff;
}

.mapArea {
  border: 1px solid #0051ff;
}

.map {
  height: 750px;
  width: 1000px;
}
