@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
.App {
  font-family: 'Roboto',sans-serif;
  display: flex;
  align-items: center;
  margin: 5%;
}
.mapview {
  position: absolute !important;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.navigation {
  border: 1px solid red;
}

.addObjectPanel {
  border: 1px solid #4cff00;
}

.searchObjectPanel {
  border: 1px solid #aa00ff;
}

.mapArea {
  border: 1px solid #0051ff;
}

.map {
  height: 750px;
  width: 1000px;
}
